<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>197049247480-pte881jhuqqreo10mmgo47450ubfckvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197049247480-pte881jhuqqreo10mmgo47450ubfckvc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6JVSL8ji4DVXzMRb1F6w10MZic_iaSu0</string>
	<key>GCM_SENDER_ID</key>
	<string>197049247480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samarthagarwal.feedly</string>
	<key>PROJECT_ID</key>
	<string>feedlyapp-9df9a</string>
	<key>STORAGE_BUCKET</key>
	<string>feedlyapp-9df9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197049247480:ios:837a40b37429f47d</string>
	<key>DATABASE_URL</key>
	<string>https://feedlyapp-9df9a.firebaseio.com</string>
</dict>
</plist>