page-signup {
    ion-content {
        .scroll-content {
            background-color: map-get($colors, danger )
        }
    }

    .item {
        background-color: map-get($colors, danger )
    }

    .logo{
        font-size: 25vh;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    h1, h6 {
        color: white;
        font-size: 1em;
    }

    .rowStyle {
        background-color: white;
        padding-left: 10px;
        border-radius: 30px;
        margin-top: 10px;

        ion-icon {
            margin-top: 13px;
            margin-right: 10px;
        }
    }
}
